In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

pd.options.display.float_format = '{:.0f}'.format

In [2]:
members = pd.read_csv("../data/off_members.csv")
ops = pd.read_csv("../data/off_ops.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,3,5,11,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,3,8,9,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
merged = members[["P_CLIENTID", "P_OPERATIONID"]].merge(ops[["ID", "P_EKNPCODE", "P_OPERATIONDATETIME"]], left_on="P_OPERATIONID", right_on="ID")

In [4]:
null_mask = merged.P_EKNPCODE.isnull() | merged.P_CLIENTID.isnull()
corrupted_data_mask = merged.P_EKNPCODE.isin(["Ð—46"])
mask = null_mask | corrupted_data_mask
merged_not_null = merged.loc[~mask].sort_values(by=["P_CLIENTID", "P_OPERATIONDATETIME"])

merged_not_null["P_EKNPCODE"] = merged_not_null["P_EKNPCODE"].astype(int)

agged = merged_not_null[["P_CLIENTID", "P_EKNPCODE"]].groupby("P_CLIENTID").agg(
    lambda x: ",".join(map(lambda x: str(int(x)), x.values))).reset_index()

In [ ]:
agged.to_csv("data/client_knp.csv", index=False)

In [12]:
agged[agged.P_CLIENTID == 920714300886]

           P_CLIENTID P_EKNPCODE
1175446  920714300886        311

In [128]:
merged_not_null.iloc[1000000:10000010]

,P_CLIENTID,P_OPERATIONID,ID,P_EKNPCODE,P_OPERATIONDATETIME
5576434,90440004508,545937600,545937600,119,2017-02-13 15:30:51
9813579,90440004508,560406644,560406644,710,2017-03-16 18:00:38
3865626,90440005040,540712463,540712463,859,2017-02-01 15:27:43
4042539,90440005137,541198474,541198474,710,2017-02-02 16:07:47
10098507,90440005219,562778698,562778698,859,2017-03-18 16:50:38
3235360,90440005279,538233473,538233473,859,2017-01-26 15:24:05
9476718,90440005279,558712526,558712526,859,2017-03-14 16:11:07
3249607,90440005754,538220373,538220373,119,2017-01-26 15:34:50
5253047,90440005754,544976194,544976194,859,2017-02-10 16:59:59
10760559,90440005754,566524643,566524643,119,2017-03-27 15:53:10
4828635,90440005962,543301497,543301497,710,2017-02-07 15:09:26
9535167,90440006019,558676163,558676163,710,2017-03-14 15:40:54
1850446,90440006148,533993042,533993042,859,2017-01-16 15:45:46
1932453,90440006148,534534680,534534680,859,2017-01-17 16:23:13
4843970,90440006148,543837726,543837726,857,2017-02-08 15:42:21
5627952,90440006148,545847830,545847830,857,2017-02-13 15:30:51
5708681,90440006148,546614947,546614947,859,2017-02-14 15:55:31
8133544,90440006148,554050498,554050498,857,2017-03-03 15:17:15
9482681,90440006148,558720543,558720543,859,2017-03-14 16:10:18
8289747,90440006336,554935784,554935784,331,2017-03-06 11:46:49
8665068,90440006336,556574493,556574493,912,2017-03-09 15:30:50
3016735,90440006574,537804230,537804230,710,2017-01-25 15:54:04
4077259,90440006574,541270433,541270433,710,2017-02-02 15:10:39
10107382,90440006574,562784171,562784171,710,2017-03-18 15:10:51
3487289,90440006613,539488084,539488084,710,2017-01-30 15:50:59
7446477,90440006613,552374202,552374202,811,2017-02-28 16:44:26
691274,90440006742,531111347,531111347,710,2017-01-09 15:08:41
2228349,90440006742,535492709,535492709,710,2017-01-19 13:02:10
2615141,90440006742,536727063,536727063,710,2017-01-23 15:08:12
2701095,90440006742,536770829,536770829,817,2017-01-23 15:48:19
...,...,...,...,...,...
6482327,991242005818,549024510,549024510,811,2017-02-20 17:55:25
7250830,991242005818,551773908,551773908,811,2017-02-27 09:34:23
7266784,991242005818,551825749,551825749,811,2017-02-27 09:34:26
7245691,991242005818,551823914,551823914,811,2017-02-27 09:34:30
9393040,991242005818,558081978,558081978,811,2017-03-13 09:36:15
9374287,991242005818,558082981,558082981,811,2017-03-13 09:40:37
9191026,991242005818,557972360,557972360,811,2017-03-13 09:40:38
9870405,991242005818,560361621,560361621,811,2017-03-16 18:03:02
11142321,991242005818,567465037,567465037,811,2017-03-29 09:30:39
11156451,991242005818,567435852,567435852,811,2017-03-29 09:30:39
11144468,991242005818,567464014,567464014,811,2017-03-29 17:09:44
11353407,991242005818,568565197,568565197,811,2017-03-31 18:19:37
3536100,991250015115,539528963,539528963,710,2017-01-30 18:50:38
5226111,991250015115,544371185,544371185,858,2017-02-09 18:04:46
5215900,991250015115,544926807,544926807,861,2017-02-10 16:10:39
5205830,991250015115,544936864,544936864,411,2017-02-10 16:12:38
6192607,991250015115,548134586,548134586,350,2017-02-17 15:09:00
6192608,991250015115,548134586,548134586,350,2017-02-17 15:09:00
7671407,991250015115,552959933,552959933,859,2017-03-01 15:21:48
9094612,991250015115,557142020,557142020,710,2017-03-10 15:40:57
8946926,991250015115,557085993,557085993,710,2017-03-10 15:40:58
9616761,991250015115,559177955,559177955,858,2017-03-15 17:07:51
9894907,991250015115,560350526,560350526,710,2017-03-16 18:00:55
10142005,991250015115,562825565,562825565,859,2017-03-18 16:50:59
11503644,991250015115,568612154,568612154,350,2017-03-31 18:00:39
11503645,991250015115,568612154,568612154,350,2017-03-31 18:00:39
11362377,991250015115,568555483,568555483,710,2017-03-31 18:09:48
5160830,Ð¡,544403087,544403087,423,2017-02-09 17:16:39
7899133,Ð¡,553506241,553506241,841,2017-03-02 16:13:46
6191623,Ð½ÐµÑ€ÐµÐ·Ð¸Ð´ÐµÐ½Ñ‚,548117914,548117914,857,2017-02-17 16:09:39