In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

pd.set_option('display.max_columns', 500)

In [3]:
susp_op = pd.read_csv("../data/susp_ops.csv")
off_op = pd.read_csv("../data/off_ops.csv")
off_mem = pd.read_csv("../data/off_members.csv")
susp_mem = pd.read_csv("../data/susp_members.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4,9,40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,3,8,9,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2,3,5,11,17,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [82]:
off_op.P_OPERATIONDATETIME = pd.to_datetime(off_op.P_OPERATIONDATETIME)

In [15]:
susp_op["label"] = susp_op["P_SENDTOKFMBOOL"].isin([1,5,7,8])

In [83]:
merged = off_op[to_take_off_op].merge(off_mem[to_take_off_mem], left_on="ID", right_on="P_OPERATIONID")

In [134]:
agg_cols = ["P_CURRENCYCODE", "P_EKNPCODE", "P_DOCCATEGORY", "P_COUNTRYCODE", "P_CLIENT_TYPE", 
            "P_CLIENTKIND", "P_BANK", "P_BANKCOUNTRYCODE"]

agg_funcs = [np.size, np.sum, np.mean]

def aggregate_for_period(group, dt, days):
    min_dt = dt - pd.DateOffset(days=days)
    group = group[(group.P_OPERATIONDATETIME >= min_dt) & (group.P_OPERATIONDATETIME <= dt)]
    
    in_group = group[group.P_CLIENTROLE == 2]
    out_group = group[group.P_CLIENTROLE == 1]
    
    name_format = "{days}days_{col}_{value}_{func}_{dir}"
    
    features = {}
    
    for dir, dir_group in [("in", in_group), ("out", out_group)]:
        for col in agg_cols:
            for func in agg_funcs:
                pivotted = dir_group[["P_BASEAMOUNT", col]].pivot_table(columns=col, values=["P_BASEAMOUNT"], aggfunc=func)

                for idx, value in enumerate(pivotted.columns):
                    feature_value = pivotted.iloc[0, idx]
                    name = name_format.format(days=days, col=col, value=value, func=func.__name__, dir=dir)
                    features[name] = feature_value
    return features

def get_features(group, dt):
    pass

aggregate_for_period(t, pd.to_datetime("2017-01-02"), 7)

{'7days_P_BANKCOUNTRYCODE_KZ_mean_in': 135597.4075,
 '7days_P_BANKCOUNTRYCODE_KZ_size_in': 8.0,
 '7days_P_BANKCOUNTRYCODE_KZ_sum_in': 1084779.26,
 '7days_P_BANK_EURIKZKA_mean_in': 135597.4075,
 '7days_P_BANK_EURIKZKA_size_in': 8.0,
 '7days_P_BANK_EURIKZKA_sum_in': 1084779.26,
 '7days_P_CLIENTKIND_55_mean_in': 135597.4075,
 '7days_P_CLIENTKIND_55_size_in': 8.0,
 '7days_P_CLIENTKIND_55_sum_in': 1084779.26,
 '7days_P_CLIENT_TYPE_1_mean_in': 135597.4075,
 '7days_P_CLIENT_TYPE_1_size_in': 8.0,
 '7days_P_CLIENT_TYPE_1_sum_in': 1084779.26,
 '7days_P_COUNTRYCODE_KZ_mean_in': 135597.4075,
 '7days_P_COUNTRYCODE_KZ_size_in': 8.0,
 '7days_P_COUNTRYCODE_KZ_sum_in': 1084779.26,
 '7days_P_CURRENCYCODE_398_mean_in': 135597.4075,
 '7days_P_CURRENCYCODE_398_size_in': 8.0,
 '7days_P_CURRENCYCODE_398_sum_in': 1084779.26,
 '7days_P_DOCCATEGORY_25_mean_in': 135597.4075,
 '7days_P_DOCCATEGORY_25_size_in': 8.0,
 '7days_P_DOCCATEGORY_25_sum_in': 1084779.26,
 '7days_P_EKNPCODE_421.0_mean_in': 43423.47,
 '7days_P_EKNPCODE_421.0_size_in': 2.0,
 '7days_P_EKNPCODE_421.0_sum_in': 86846.94,
 '7days_P_EKNPCODE_423.0_mean_in': 166322.05333333334,
 '7days_P_EKNPCODE_423.0_size_in': 6.0,
 '7days_P_EKNPCODE_423.0_sum_in': 997932.3200000001}

Timestamp('2017-01-02 00:00:00')

In [105]:
"{days}days_{col}_{value}_{func}_{direction}".format(days=7, col="ID", value=421, func=np.mean.__name__, direction="in")

'7days_ID_421_mean_in'

In [129]:
t = merged.head(100000).groupby("P_ACCOUNT").get_group("KZ0294800KZT28600138")
t

,ID,P_CURRENCYCODE,P_OPERATIONDATETIME,P_BASEAMOUNT,P_EKNPCODE,P_DOCCATEGORY,P_COUNTRYCODE,P_CLIENT_TYPE,P_CLIENTROLE,P_CLIENTKIND,P_ACCOUNT,P_CLIENTID,P_BANK,P_BANKCOUNTRYCODE,P_OPERATIONID
43,528657550,398,2017-01-01,151075.01,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528657550
45,528657553,398,2017-01-01,136206.83,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528657553
73,528657556,398,2017-01-01,59613.06,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528657556
75,528657559,398,2017-01-01,29838.62,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528657559
1185,528744488,398,2017-01-02,171082.14,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528744488
1217,528744491,398,2017-01-02,27233.88,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528744491
1219,528744494,398,2017-01-02,481175.56,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528744494
1251,528744497,398,2017-01-02,28554.16,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528744497
2533,528850204,398,2017-01-03,129454.58,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850204
2535,528850207,398,2017-01-03,81431.63,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850207
2567,528850210,398,2017-01-03,50976.84,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850210
2569,528850213,398,2017-01-03,51465.32,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850213
2601,528850216,398,2017-01-03,111527.50,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850216
2603,528850237,398,2017-01-03,193337.16,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850237
2635,528850240,398,2017-01-03,184533.90,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850240
2637,528850243,398,2017-01-03,327981.59,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850243
2669,528850246,398,2017-01-03,51731.27,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850246
2700,528850182,398,2017-01-03,323304.73,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850182
2702,528850185,398,2017-01-03,1260218.02,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850185
2734,528850189,398,2017-01-03,321474.86,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850189
2736,528850219,398,2017-01-03,4607814.61,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850219
2768,528850222,398,2017-01-03,125991.00,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850222
2770,528850225,398,2017-01-03,68774.86,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850225
2802,528850228,398,2017-01-03,135042.50,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850228
2804,528850231,398,2017-01-03,23375.98,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850231
2837,528850234,398,2017-01-03,119234.43,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850234
2839,528850155,398,2017-01-03,106721.43,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850155
2871,528850158,398,2017-01-03,12042.43,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850158
2873,528850161,398,2017-01-03,14312.94,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850161
2905,528850164,398,2017-01-03,236842.02,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850164
2907,528850167,398,2017-01-03,484338.06,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850167
2939,528850170,398,2017-01-03,30709.90,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850170
2941,528850192,398,2017-01-03,318548.20,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850192
2973,528850195,398,2017-01-03,47892.18,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850195
2975,528850198,398,2017-01-03,16667.48,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850198
3007,528850173,398,2017-01-03,80434.19,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850173
3009,528850176,398,2017-01-03,408480.00,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850176
3041,528850179,398,2017-01-03,349493.08,423,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850179
3043,528850201,398,2017-01-03,29621.46,421,25,KZ,1,2,55,KZ0294800KZT28600138,9.5024e+11,EURIKZKA,KZ,528850201

In [107]:
a = t[["P_EKNPCODE", "P_CLIENTROLE", "P_BASEAMOUNT"]].pivot_table(columns=["P_EKNPCODE", "P_CLIENTROLE"], values=["P_BASEAMOUNT"], aggfunc=np.sum)

In [122]:
merged.head(100000).P_ACCOUNT.value_counts()

НЕ ОПРЕДЕЛЕН                                          14140
KZ619480003A01560161                                    106
KZ39948KZT27204000PE                                     66
KZ379480011A02000678                                     58
KZ589480019A02015913                                     54
KZ0294800KZT28600138                                     39
KZ249480016A02190205                                     35
KZ539480019A01866041                                     33
KZ769480004A02100714                                     33
KZ309480008A02081073                                     33
БЕЗ ИСПОЛЬЗОВАНИЯ СЧЕТА, ОТКРЫТОГО В АО ЕВРАЗИЙСКО       32
KZ759480018A00817803                                     30
KZ289480061A02078415                                     29
KZ259480013A02144938                                     28
KZ599480006A02076575                                     28
KZ559480621A02037394                                     28
KZ419480018A00032133                                     28
KZ299480006A02076339                                     27
KZ649480006A02142057                                     25
KZ50948KZT27204000PA                                     25
KZ859480005A02218164                                     25
KZ329480011A00097531                                     25
KZ739480004A01968848                                     25
KZ439480608A01615812                                     25
KZ099480605A01269796                                     25
KZ529480001A01482239                                     25
KZ769480019A01866403                                     24
KZ579480006A02063419                                     24
KZ119480007A02198058                                     24
KZ549480619A02011223                                     23
                                                      ...
KZ399480608A02213210                                      1
KZ92948KZT289070004P                                      1
KZ789480703A00300542                                      1
KZ749480061A01658256                                      1
KZ719480003A00052504                                      1
KZ199480003A00013185                                      1
KZ879480302A00048235                                      1
KZ14948KZT44306000NX                                      1
KZ959480302A00213670                                      1
KZ089480015A00021525                                      1
KZ139480001A01085144                                      1
KZ069480201A02089411                                      1
KZ369480605A02078969                                      1
KZ989480308A01979013                                      1
KZ369480003A00062834                                      1
KZ299480003A00016012                                      1
KZ209480003A00023449                                      1
KZ089480003A00023083                                      1
KZ859480001A02141924                                      1
KZ27948KZT311060006G                                      1
KZ69948KZT03806000Y2                                      1
KZ38948USD415040000S                                      1
KZ449480013A00103425                                      1
KZ52948USD440060002J                                      1
KZ779480017A02006260                                      1
KZ389480005A00181913                                      1
KZ939480002A00026258                                      1
KZ109480013A00130712                                      1
KZ269480003A00211812                                      1
KZ399480010A02052004                                      1
Name: P_ACCOUNT, Length: 39269, dtype: int64

In [86]:
a[0] - pd.DateOffset(days=7)

Timestamp('2016-12-25 13:33:00')

In [62]:
to_take_off_op = ["ID", "P_CURRENCYCODE", "P_OPERATIONDATETIME", "P_BASEAMOUNT", "P_EKNPCODE", "P_DOCCATEGORY", ]
to_take_off_mem = ["P_COUNTRYCODE", "P_CLIENT_TYPE", "P_CLIENTROLE", "P_CLIENTKIND", "P_ACCOUNT", "P_CLIENTID",
                   "P_BANK", "P_BANKCOUNTRYCODE", "P_OPERATIONID"]

off_mem.head()

,ID,P_OPERATIONID,P_CLIENTID,P_BSCLIENTID,P_BANK_CLIENT,P_REGOPENDATE,P_COUNTRYCODE,P_CLIENT_TYPE,P_CLIENTROLE,P_CLIENTKIND,P_ACCOUNT,P_BSACCOUNT,P_BANK,P_BANKCOUNTRYCODE,P_BANKNAME,P_IPDL,P_DATE_INSERT,P_DATE_UPDATE,P_USERNAME,CHANGEDATE,P_SDP,P_ORGFORM,P_BANKCITY,P_OPER_DATE,P_OPERATIONDATE
0,529719568,529719567,9.5024e+11,6955,2,NaN,KZ,3,1,55,KZ6094800KZT17410144,1741,190501948,KZ,АО ЕВРАЗИЙСКИЙ БАНК,1,2017-01-06 09:12:09,NaN,LOADER,2017-01-06 09:12:09,NaN,NaN,АЛМАТЫ,2017-01-04 07:14:20,2017-01-04 00:00:00
1,529719569,529719567,9.5024e+11,88,2,2003-09-02 00:00:00,KZ,1,2,55,KZ8494800KZT28600117,2860,EURIKZKA,KZ,АО ЕВРАЗИЙСКИЙ БАНК,1,2017-01-06 09:12:09,NaN,LOADER,2017-01-06 09:12:09,NaN,28.0,АЛМАТЫ,2017-01-04 07:14:20,2017-01-04 00:00:00
2,529722751,529722750,9.5024e+11,88,2,2003-09-02 00:00:00,KZ,1,1,55,KZ5494800KZT59210074,5921,190501948,KZ,АО ЕВРАЗИЙСКИЙ БАНК,1,2017-01-06 09:12:36,NaN,LOADER,2017-01-06 09:12:36,NaN,28.0,АЛМАТЫ,2017-01-04 07:17:03,2017-01-04 00:00:00
3,529722752,529722750,9.5024e+11,88,2,2003-09-02 00:00:00,KZ,1,2,55,KZ3494800KZT49000020,4900,EURIKZKA,KZ,АО ЕВРАЗИЙСКИЙ БАНК,1,2017-01-06 09:12:36,NaN,LOADER,2017-01-06 09:12:36,NaN,28.0,АЛМАТЫ,2017-01-04 07:17:03,2017-01-04 00:00:00
4,529722754,529722753,9.5024e+11,6955,2,NaN,KZ,3,1,55,KZ3894800KZT17410152,1741,190501948,KZ,АО ЕВРАЗИЙСКИЙ БАНК,1,2017-01-06 09:12:36,NaN,LOADER,2017-01-06 09:12:36,NaN,NaN,АЛМАТЫ,2017-01-04 07:19:40,2017-01-04 00:00:00

In [56]:
off_op.P_BRANCH.value_counts(dropna=False)

0        2531918
7        1606665
0         772695
12        349100
9         270637
5         269758
3         254926
6         195298
6         187515
7         164336
4         157083
5         128138
12        125412
9         109239
15        105687
19        101059
10         96137
8          83297
3          78202
11         75017
14         72531
4          70266
13         68157
19         45645
15         42805
8          41625
10         41382
11         37973
17         32744
13         30923
14         30773
20         18105
17         15060
20          8818
WAY 4       3336
-1             1
Name: P_BRANCH, dtype: int64

In [23]:
susp_op[["P_SUSPICIOUSTYPECODE", "label"]].groupby("P_SUSPICIOUSTYPECODE").agg(["mean", "count", "sum"]).reset_index().sort_values(by=("label", "count"), ascending=False)

   P_SUSPICIOUSTYPECODE     label
                             mean   count     sum
11               1671.0  0.001761  257771   454.0
2                 511.0  0.034119   71808  2450.0
15               2011.0  0.000169   29660     5.0
3                 521.0  0.587091   15788  9269.0
4                 530.0  1.000000    6850  6850.0
9                 911.0  1.000000    4044  4044.0
14               1911.0  0.997144    3852  3841.0
17               7008.0  0.000398    2513     1.0
7                 633.0  1.000000    2389  2389.0
18               7013.0  0.000000    2096     0.0
6                 623.0  1.000000    1863  1863.0
21               7031.0  0.000000     747     0.0
20               7017.0  0.000000     521     0.0
0                 211.0  1.000000     451   451.0
13               1821.0  0.996923     325   324.0
10               1111.0  1.000000     300   300.0
8                 640.0  1.000000     242   242.0
5                 540.0  1.000000     108   108.0
1                 221.0  1.000000      94    94.0
22               7034.0  0.000000      61     0.0
16               2020.0  1.000000      28    28.0
12               1811.0  1.000000      19    19.0
19               7016.0  0.000000       5     0.0